body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #020617;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #020617;
}

.btn {
    padding: 8px 16px;
    border: 1px solid #22c55e;
    border-radius: 6px;
}
